@page "/"
@implements  IDisposable
@inject QuestState QuestState

<div class="left-nav">
    <div class="active-quests">
        <active-quest-listing-element></active-quest-listing-element>
    </div>
    <hr />
    <div class="completed-quests">
        <completed-quest-listing-element></completed-quest-listing-element>
    </div>
</div>

<div class="content">
    <task-listing-element></task-listing-element>
</div>

@code {
protected override void OnInit()
{
QuestState.OnStateChanged += OnStateChanged;
}

void IDisposable.Dispose()
{
QuestState.OnStateChanged -= OnStateChanged;
}

void OnStateChanged(object sender, EventArgs e) => StateHasChanged();
}