@page "/"
@implements  IDisposable
@inject QuestState QuestState

<div class="left-nav">
    <div class="active-quests">
        <QuestList Quests="@QuestState.Quests.Where(x => !x.IsCompleted).Reverse()"></QuestList>
    </div>
    <hr />
    <div class="completed-quests">
        <QuestList Quests="@QuestState.Quests.Where(x => x.IsCompleted)"></QuestList>
    </div>
</div>

<div class="content">
    <TaskList Quest="@QuestState.CurrentQuest"></TaskList>
</div>

@code {
protected override void OnInitialized()
{
QuestState.OnStateChanged += OnStateChanged;
}

void IDisposable.Dispose()
{
QuestState.OnStateChanged -= OnStateChanged;
}

void OnStateChanged(object sender, EventArgs e) => StateHasChanged();
}