<ng-container *ngIf="questState.currentQuest">
  <h1>{{questState.currentQuest.name}}</h1>

  <ng-container *ngIf="questState.currentQuest.description">
    <div>{{questState.currentQuest.description}}</div>
    <div class="objectives">Objectives</div>
  </ng-container>

<ul>
  <li *ngFor="let task of questState.currentQuest.tasks">
    <a [class.active]="questState.isCurrentTask(task)"
       [class.complete]="task.isCompleted"
       (click)="questState.toggleTask(task)"
       (mouseover)="questState.selectTask(task)">
      {{task.name}}
    </a>
  </li>
</ul>
</ng-container>
